{
  	"extends": "./node_modules/eslint-config-airbnb/.eslintrc",
    "env": {
      "browser": true,
      "node": true,
      "mocha": true,
      "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
          	"jsx": true
        },
    },
  	"rules": {
  		"comma-dangle": 0,
  		"react/prop-types": 0
  	}
}
